
.home{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
  }
 
  .home::before{
    content: '';
    position: absolute;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
  }
  .home .content{
    flex: 1 1 40rem;
    padding-top: 7rem;
    z-index: 1;
  }
  .home .image{
    flex: 1 1 40rem;
    z-index: 1;
    padding-top: 5rem;
  }
  .home .image img{
    width: 70%;
    /* height: 70%; */
    margin-left: 6rem;
    border-radius: 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    /* object-fit:scale-down; */
  }
  .home .image img:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .home .content h3{
    font-size: 5rem;
    font-weight: 800;
    color: #002057;
  }
  .home .content h3 span{
    font-size: 5rem;
    font-weight: 800;
    color: #0984ad;
  }
  .home .content p{
    font-size: 2.5rem;
    color: #000;
    font-weight: 600;
    padding: 1rem 0;
  }
  .home .content p span{
    font-size: 2.5rem;
    color: #0984ad;
    font-weight: 600;
    padding: 1rem 0;
  }
  .home .btn {
    margin-top: 1rem;
    position: absolute;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 4em;
    transition: 0.5s;
    color: #fff;
    background: #1858c7;
    box-shadow: 0px 5px 18px #01030b(145, 136, 12, 0.6);
    font-family: 'Nunito', sans-serif;
  }
  .home .btn span {
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
  }
  .home .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .home .btn:hover{
    background: #1a047e;
  }
  .home .btn:hover i {
    transform: translateX(5px);
  }
  /* social icons start */
  .socials{
    position: relative;
    margin-top: 9rem;
  }
  .socials .social-icons {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .socials .social-icons li {
    display:inline-block;
    margin-bottom:14px
  }
  .social-icons a {
    font-size:2rem;
    display:inline-block;
    line-height:44px;
    color: #f1f2f3;
    background-color: #10319f;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons button:active,.social-icons button:focus,.social-icons button:hover {
    color:#fff;
    background-color:#0685da
  }
  .social-icons button.github:hover {
    background-color:#0e0e0e
  }
 
  .social-icons button.linkedin:hover {
    background-color:#007bb6
  }
  .social-icons button.dev:hover {
      background-color:#070707
  }
 
  /* social icons end */
  
  /* hero media queries starts*/
  @media(max-width:450px){
    .home .btn{
      margin: 4rem 0;
    }

    .socials{
      margin-top: -4rem;
    }
    .home .image img{
      margin-top: -5rem;
    }
    .home .content h3 , .home .content h3 span {
      font-size: 3.5rem;
    }

    .home .content p ~ .btn {
      position: relative;
      top: -20px;
    }
    .home .content p {
      font-size: 2.2rem;
    }
    .home .content p span{
      font-size: 2.2rem;
    }
  }
  /* hero media queries ends*/